html {
	display: flex;
  justify-content: center;

}

.container {
  display: flex;
  width: 450px;
  flex-wrap: wrap;
  border: 1px solid #b9b9b9;
}

.container div {
  background-color: rgb(255, 255, 255);
  border: 0px solid #ffffff; /* optional, helps visualize */
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 calc(100% / var(--grid-size));
  aspect-ratio: 1 / 1;
  font-size: 20px;
}
